@charset "UTF-8";
/* Media telas pequenas e celulares*/

/* Typical Device Breakpoints
------------------------------
Pequenas Telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

    *{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    }

    body {
        background-color: #5f2c82;
        height: 100vh;
        width: 100vh;
    
    }



    main{
        display: flex;
        width: 100vw;

        justify-content: center;

       
    }

    #login{
        background-color: white;
        height: 500px; /*altura*/
        width: 250px; /*largura*/
        margin: 50px;
        border-radius: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.473);
        align-items: center;

        transition: width .3s, height .3s;
    transition-timing-function: ease; /* pequena animação*/
    }

    #imagem > img {
        height: 195px;
        width: 250px;
        border-radius: 12px 12px 0px 0px ;
    
    } 
 /* butoes do formularoe */
    #formulario > h1 {
        text-align: center;
    }

    #formulario > p {
        text-align: left;
    }

    
    
   /* butao de enviar o email e a senha*/
    .form{
        background-color:#5f2c82 ;
        margin: 10px;
        height: 40px;
        border-radius: 7px;
        display: flex;
        gap: 2px;
    }

    .form > input {
        background-color: #77f0eccb;
        margin: 3px;
        height: 30px;
        width: 187px;
        border-radius: 8px;
        border-color: #49a09d;
       
        
    }

    .material-symbols-outlined{ /*icons*/
        color: white;
        size: 10px;
    }
     
    /* butoes 'entrar' e 'esqueci a senha' */

    #box-enviar{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2px;
    }

    .enviar {
        background-color: #49a09d;
        color: white;
        text-align: center;
        height: 42px;
        width: 228px;
        border-radius: 8px;
        border-color: #49a09d;
        box-shadow: white;
    
        
    }

    .enviar:hover{
        background-color: aqua;
    }

    #esque{
        background-color: white;
        color: #009792;
    }

    #esque:hover{
        background-color: aquamarine;
    }

