@charset "UTF-8";
/* css da versao que tem flexbox */
/*VERSÃO PARA TABLET*/

@media screen and (min-width:768px) and (max-width: 992px) {
    body, html{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    
    section#login {
        width: 780px; 
        height: 280px;
        margin:55px;
    
    }
    
    div#imagem{
        display: block;
        background-image: url(../imagens/flores.jpg);
        width: 200px;
        height: 280px;
        float: left;
        border-radius: 20px 0px 0px 20px;
        
    }

    div#formulario {
    width: 70vw;
    }
}

/* VERSÃO TELAS GRANDES */

@media screen and (min-width:993px) {
    body, html{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login {
        width: 950px;
        height: 350px;
    }

    div#imagem{
        width: 460px;
        height: 350px;
        float: right;
        border-radius: 0px 20px 20px 0px;
        
    }



}

